name: Trigger showcase deploy

on:
  push:
    branches:
      - main

jobs:
  trigger-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger deploy on iarbre repo
      # https://stackoverflow.com/questions/72110820/trigger-github-action-in-submodules-from-parent-repo-action
      # https://docs.github.com/en/rest/actions/workflows?apiVersion=2022-11-28#create-a-workflow-dispatch-event
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.DISPATCH_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/TelesCoop/iarbre/dispatches \
            -d '{"event_type": "content-updated"}'
